#boot img{
    height: 300px;
    width: 300px;
    border:2px solid black;
}
#boot{
    background-color: moccasin;
}
#what{
    background-color:cornflowerblue;
}

#where{
    background-color:blueviolet
}

#where img{
height:200px;
width:200px;
}